body {
  color: #212121 !important;
  background-color: #fff !important;
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
