.contact{
    background-image: url("/image/contact/contact.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 114px;
    padding-bottom: 68px;
    &__title{
        color: #fff;
        text-align: center;
        font-family: 'Dancing Script', cursive !important;
        font-size: 41px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__border{
        border-top: 2px solid #fff;
        margin-top: 24px;
    }
    &__adress{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    &__city{
        text-align: center;
        color: #fff;
        margin-bottom: 0;
    }
    &__street{
        text-align: center;
        color: #fff;
    }
    &__mailico{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &__mail{
        text-align: center;
        color: #fff !important;
        display: block;
    }
    &__phoneico{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    &__phone{
        text-align: center;
        color: #fff !important;
        display: block;
    }
}




