.contact {
  background-image: url("/image/contact/contact.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 68px; }
  .contact__title {
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive !important;
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 50px; }
  .contact__border {
    border-top: 2px solid #fff;
    margin-top: 24px; }
  .contact__adress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .contact__city {
    text-align: center;
    color: #fff !important;
    margin-bottom: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .contact__city:hover {
      opacity: 0.8;
      -ms-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: opacity 0.3s, scale 0.3s;
      -moz-transition: opacity 0.3s, scale 0.3s;
      -o-transition: opacity 0.3s, scale 0.3s;
      transition: opacity 0.3s, scale 0.3s; }
  .contact__mailico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .contact__mailico:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .contact__mail {
    text-align: center;
    color: #fff !important;
    display: block; }
  .contact__phoneico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px; }
  .contact__phone {
    text-align: center;
    color: #fff !important;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .contact__phone:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .contact a {
    color: white !important; }
  .contact a:active, .contact a:hover {
    color: white !important; }
