.head {
  padding-top: 20px; }
  .head__phone {
    float: left;
    width: 25px;
    margin-right: 10px;
    margin-top: 25px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .head__phone:hover {
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .head__link:hover .head__phone {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .head__text {
    margin-top: 25px;
    display: block;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .head__text:hover {
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .head__title {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;
    font-size: 55px; }
  .head__facebook {
    margin-top: 25px;
    float: right;
    width: 25px;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .head__facebook:hover {
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
